*{
    overflow-x: hidden;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Evenly spread soft shadow */
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    width: 300px;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
  }
  
  .modal-content p {
    color: rgb(124, 33, 33);
  }
  
  .modal-content input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .modal-buttons button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .modal-buttons button:first-child {
    background-color: green;
    color: white;
  }
  
  .modal-buttons button:last-child {
    background-color: gray;
    color: white;
  }
  