/* EduContent.css */
.content-box {
    width: 90%;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    color: black;
    border-radius: 10px;
    height: 250px;
  }
  
  .edu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .edu h3{
    color: black;
  }
  .add-icon {
    cursor: pointer;
    color: #408AFD;
    font-size: 40px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
 
 
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .editDel {
    display: flex;
    gap: 10px;
  }
  
  .edit-icon,
  .delete-icon {
    cursor: pointer;
    font-size: 20px;
  
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    
  }
  
  @media (max-width: 600px) {
    .edu {
      flex-direction: column;
    }
    .content-box{
      width: 100%;
    }
  
    .add-icon {
      font-size: 30px;
    }
  }
  